:host {
  .img-container {
	position: relative;
	// width: 100%;
	// height: 100%;
  }

  .img-container img {
	object-fit: cover;
	cursor: default;
	width: 100%;
	height: 100%;
	transition: opacity .3s ease;
	backface-visibility: hidden;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
  }


  .top-overlay {
	display: flex;
	flex-direction: row;
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	// TODO make it work with windows and transform;
	right: 10px;
	top: 10px;
	cursor: pointer;
	text-align: center;
	// transform: translate(-50%, -50%);
	// -ms-transform: translate(-50%, -50%);
  }

  .bottom-overlay {
	display: flex;
	flex-direction: row;
	transition: .3s ease;
	opacity: 1;
	position: absolute;
	// TODO make it work with windows and transform (or postcss prefix);
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	text-align: center;
	// transform: translate(-50%, -50%);;
	// -ms-transform: translate(-50%, -50%);;
  }

  .img-container:hover img {
	opacity: 0.9;
  }

  .img-container:hover .top-overlay {
	opacity: 0.9;
  }

  .img-container:hover .top-overlay:hover {
	opacity: 1;
  }

  .image-option {
	opacity: 0.9;
	background-color: white;
	display: flex;
	color: black;
	width: 40px;
	height: 30px;
	border-radius: 5px;
	font-size: 16px;
	margin: 3px;
	justify-content: center;
	align-items: center;
  }

  .image-option:hover {
	opacity: 1;
  }

  .image-option .fas {
	top: 5px;
  }

  .img-selected {
	border: solid #4FB876;
	border-width: 5px;
  }

  .img-unselected {
	border: solid #fff;
	border-width: 5px;
  }

  .group-tags {
	opacity: 0.9;
	background-color: white;
	display: flex;
	flex-direction: row;
	width: auto;
	height: 30px;
	border-radius: 5px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	z-index: 999;
  }

  .center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }

  .box {
	padding: 1px;
  }

}

.zoom-content {
  display: flex;
  flex-direction: column;
  max-height: 700px;

  .img-container {
	overflow-y: scroll;
	// overflow-x: hidden;
	width: 100%;
	height: 100%;
	background-color: #e7e7e7;
  }

  .img-details {
	// width: 100%;
	// height: 100%;
	// margin-right: 24px;
	display: flex;
	flex-direction: row;
	margin-top: 24px;
	background-color: #e7e7e7;
	align-items: center;
	text-align: center;
  }

  .title {
	background-color: #ccc;
	padding: 5px;
  }

  .detail-container {
	display: flex;
	flex-direction: column;
	padding: 5px;
  }

  .detail-contents {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: #fff;
  }

  .detail-item {
	padding: 5px;
  }
}
