<div class="img-container">
  <img [ngClass]="status ? 'img-selected' : 'img-unselected'"
	   [src]="featureSource"
	   (click)="imageSelect()"
	   class="img-responsive img-target">

  <div class="top-overlay">
	<div class="image-option"
		 matTooltip="Zoom"
		 matTooltipPosition="below"
		 (click)="imageZoom(diffSizes)">
	  <i class="fas fa-search-plus"></i>
	</div>

	<ng-template #diffSizes>
	  <div class="zoom-content">
		<div class="img-container">
		  <img [src]="featureSource">
		</div>
		<div class="img-details">
		  <div class="detail-container">
			<div class="title">
			  Coordinates
			</div>
			<div class="detail-contents">
			  <div class="detail-item">
				{{coordinates[0]}},
			  </div>
			  <div class="detail-item">
				{{coordinates[1]}}
			  </div>
			</div>
		  </div>
		  <div class="detail-container">
			<div class="title">
			  Path
			</div>
			<div class="detail-contents">
			  <div class="detail-item">
				{{featureSource}}
			  </div>
			</div>
		  </div>
		</div>
		<button mat-button class="close-button" matDialogClose aria-label="Close modal" type="button">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	</ng-template>

	<div class="image-option"
		 matTooltip="Remove"
		 matTooltipPosition="below"
		 (click)="openImageDeleteModal(deleteImage)">
	  <i class="fas fa-trash"></i>
	</div>

	<ng-template #deleteImage>
	  <div>
	  This image will be deleted from the current project. It will not be deleted from the Data Depot.
	  </div>

	  <button mat-raised-button color="primary" matDialogClose (click)="imageDelete()">Delete Image</button>
	  <button mat-button matDialogClose>Cancel</button>
	</ng-template>



	<div class="image-option"
		 matTooltip="Add To Group"
		 matTooltipPosition="below"
		 (click)="openImageAddModal(addMoreToGroup)">
	  <i class="fas fa-plus"></i>
	</div>

	<ng-template #addMoreToGroup>
	  <select #selectGroup class="form-control" [value]="activeGroup">
		<option *ngFor="let group of groupList">
		  {{ group.name }}
		</option>
	  </select>
	  <button mat-button matDialogClose (click)="selectGroupForm(selectGroup.value)">Add To Group</button>

	  <button mat-button matDialogClose aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	  </button>
	</ng-template>
  </div>

  <div class="bottom-overlay">

	<!-- <div class="color-container"> -->
	  <!-- TODO This should be an iff relationship -->
	  <div *ngIf="hasGroup && colors.length > 0">

		<div *ngIf="colors.length < 5; else dotdot" class="group-tags">
		  <div *ngFor="let color of colors"
			   class="center"
			   (mouseover)="getGroupNameFromColor(color)"
			   [matTooltip]="currentGroup"
			   matTooltipPosition="below">
			<svg class="box" (click)="deleteFromGroup(color)" width="15px" height="15px">
			  <rect width="15px" height="15px" [style.fill]="color"/>
			</svg>
		  </div>
		</div>

		<ng-template #dotdot class="text">
		  <div class="image-option"
			   (click)="openMoreGroupsModal(moreGroupsModal)">
			<i class="fas fa-ellipsis-h"></i>
		  </div>
		</ng-template>

		<!-- TODO Should close modal once zero groups -->
		<ng-template #moreGroupsModal>
		  <div style="display: flex; justify-content: center; align-items: center">
			<div *ngFor="let color of colors"
				 class="center"
				 style="display: flex"
				 (mouseover)="getGroupNameFromColor(color)"
				 [matTooltip]="currentGroup"
				 matTooltipPosition="right">
			  <svg style="padding: 1" (click)="deleteFromGroup(color)" width="15px" height="15px">
				<rect width="15px" height="15px" [style.fill]="color"/>
			  </svg>
			</div>
		  </div>
		</ng-template>

	  </div>
	<!-- </div> -->

  </div>

</div>
