<div id="gallery-container">
  <div [ngClass]="status ? 'success' : 'danger'"
	   infiniteScroll
	   [infiniteScrollDistance]="1"
	   [infiniteScrollThrottle]="1500"
	   (scrolled)="onScroll()"
	   class="img-list-container"
	   *ngIf="!showSidebar; else elseBlock">
	<app-image-box
	  *ngFor="let feat of featureListScroll"
	  [feature]="feat">
	</app-image-box>
  </div>

  <ngx-spinner
	bdOpacity = 0.9
	bdColor = ""
	size = "default"
	color = "#3ADB76"
	type = "line-scale-pulse-out"
	[fullScreen] = "false">
  </ngx-spinner>
  <ng-template #elseBlock>
	<div class="imager">
	  <img class="view-image" [src]="getPath()">
	</div>
	<!-- <div (click)="otherPath(1)">next</div> -->
	<!-- <div (click)="otherPath(-1)">prev</div> -->


	<!-- <img [src]="getPath()"> -->
	<!-- <button class="button" (click)="otherPath(1)">next</button> -->
	<!-- <button class="button" (click)="otherPath(-1)">prev</button> -->

	<!-- <app-image-list> -->
	<!--   <\!-- *ngFor="let feat of features.features" -\-> -->
	<!--   <\!-- [feature]="feat" -\-> -->

	<!--   <\!-- *ngFor="let feat of features.features" -\-> -->
	<!--   <\!-- [feature]="features.features" -\-> -->
	<!--   <\!-- (clickRequest)="addGroupList($event)" -\-> -->
	<!-- </app-image-list> -->

  </ng-template>
  <div *ngIf="showSidebar" class="side-bar-container">
	<app-side-bar></app-side-bar>
  </div>
</div>

<!-- <div id="gallery-container"> -->
  <!--   <div [ngClass]="status ? 'success' : 'danger'"> -->
	<!--	<div class="img-list-container" *ngIf="!showSidebar; else elseBlock"> -->
	  <!--	  <app-image-box -->
	  <!--		*ngFor="let feat of features.features" -->
	  <!--		[feature]="feat" -->
	  <!--		(clickRequest)="addGroupList($event)"> -->
		<!--	  </app-image-box> -->
	  <!--	</div> -->

	<!--	<ng-template #elseBlock> -->
	  <!--	  <app-image-list> -->
		<!--	  </app-image-list> -->
	  <!--	</ng-template> -->

	<!--   </div> -->
  <!--   <div *ngIf="showSidebar" class="side-bar-container"> -->
	<!--	<app-side-bar></app-side-bar> -->
	<!--   </div> -->
  <!-- </div> -->
