<!-- <div class="grid-x"> -->

<!--   <div class="top-bar" style="background-color: black" id="navbar"> -->

<!--	<div class="top-bar-left"> -->
<!--	  <img src="assets/logo.svg" width="30PX"> -->
<!--	  <span style="color: white">Taggit</span> -->
<!--	</div> -->


<!--	<div class="top-bar-right"> -->
<!--	  <div class="light-blue" *ngIf="currentUser">{{ currentUser.username }}</div> -->
<!--	</div> -->

<!--   </div> -->

<!--   <\!-- <div class="cell control-bar"> -\-> -->
<!--   <\!--	<app-control-bar></app-control-bar> -\-> -->
<!--   <\!-- </div> -\-> -->
<!-- </div> -->

<app-control-bar></app-control-bar>
<!-- NOTE Router Outlet was here -->
<app-image-gallery></app-image-gallery>

<!-- NOTE Leaflet was here -->
