@import '../../../variables.scss';

:host {
  #share-project-form {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 5em;
  }
}
.card-container{
	display: flex;
	justify-content: space-between;
	width: 99%;
}

.card-item{
	text-align: center;
	align-items: center;
}

.card-buttons{
	align-items: flex-end;
}